<ion-card>
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-title>
        About
      </ion-title>
    </ion-toolbar>
    <img src="../assets/hero.svg" />
  </ion-header>
  <ion-card-content fullscreen>
    Get started with a learning path customized for your role,
    expand your product knowledge, or study for an Atlassian Certification.
    Atlassian University has credentials to accelerate your career trajectory
    and training that fits your needs, whether you're learning as an individual or a team.
  </ion-card-content>
  <ion-card-content fullscreen>
    <a href="https://university.atlassian.com/student/catalog">Learning Paths</a>

  </ion-card-content>
</ion-card>

