<ion-content>
  <ion-infinite-scroll>
  <ion-infinite-scroll-content
  loadingSpinner="bubbles"
  loadingText="Loading more content...">

<ion-card>
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-title>
        Atlassian Mini Universe
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card-content fullscreen>
    <img src="../assets/jira.png" />
    New to Jira? You're in the right place.
    These short, self-paced courses will help you get up and running in Jira in just 90 minutes.

    Start with key Jira concepts like issues, projects,
    and boards. Next, find out how to navigate Jira and manage your work. Finally,
    learn expert tips and best practices that will make it easier to use Jira.
  </ion-card-content>
  <ion-card-content fullscreen>
    <a href="https://university.atlassian.com/student/path/815443-jira-fundamentals?sid_i=0">Jira Fundamentals</a>

  </ion-card-content>
  <ion-card-content fullscreen>
    <img src="../assets/confluence.png" />
    New to Confluence? You're in the right place.
    These short, self-paced courses will help you get up and running in Confluence in just 90 minutes.

    Start with key Confluence concepts like spaces and pages. Next, learn how to create engaging content
    and collaborate with your team. Finally, learn expert tips and best practices to make the most of
    your Confluence experience.
  </ion-card-content>
  <ion-card-content fullscreen>
    <a href="https://university.atlassian.com/student/collection/850385/path/1083904">Confluence Fundamentals</a>

  </ion-card-content>
  <ion-card-content fullscreen>
    <img src="../assets/servicemng.png" />
    New to Jira Service Management? You're in the right place.
    These short, self-paced courses will help you get up and running in Jira Service
    Management in just 90 minutes.

    Learn key concepts like issues, queues, and service projects.
    Discover how to manage and organize your work in Jira Service Management.
  </ion-card-content>
  <ion-card-content fullscreen>
    <a href="https://university.atlassian.com/student/collection/850385/path/1277309">Jira Service Management Fundamentals</a>

  </ion-card-content>
  <ion-card-content fullscreen>
    <img src="../assets/trello.png" />
    New to Trello? You're in the right place.
    These short, self-paced courses will help you learn how to use Trello in just 90 minutes.

    Start with key concepts like cards, lists, and boards. Next, discover how to navigate
     Trello and manage your work. Finally, learn expert tips and best practices to optimize
     your Trello experience.
  </ion-card-content>
  <ion-card-content fullscreen>
    <a href="https://university.atlassian.com/student/collection/850385/path/1432534">Trello Fundamentals</a>

  </ion-card-content>
</ion-card>
</ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
